body {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
}

.card-block {
    width: 140px;
    height: 210px;
    border: 3px solid transparent;
    border-radius: 10px;
    margin: 10px;
    perspective: 600px;
    display: inline-block;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__face {
    border: 3px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-number {
    position: relative;
    right: 20px;
    bottom: 120px;
    display: inline-block;
    height: 70px;
    font-size: 16px;
}

.card-number_transformed {
    transform: rotate(180deg);
    position: relative;
    display: inline-block;
    top: 240px;
    left: 20px;
    height: 70px;
    font-size: 16px;
}

.card-symbol {
    display: inline;
    position: relative;
    font-size: 12px;
    bottom: 24px;
}

.symbol-img {
    width: 40px;
    height: 40px;
}

.card__face_back {
    background-image: url("img/cardBack.jpg");
    transform: rotateY(180deg);
}

.card.isFlipped {
    transform: rotateY(180deg);
}
